body {
  margin: 0;
  padding: 0;
  font-family: sans-serif,;
  background: linear-gradient(to left, rgba(7, 27, 82, 1), rgba(0, 128, 128, 1) 100%);
}
h1{
  font-family: 'Press Start 2P', cursive;
  color: aqua;
  font-size: 40px;
}